.dense-container{
    display: flex;
    /* width: 9%; */
    margin: 1.2%;
    border:1px solid red;
}
.large-articles{
    flex: 7;
    border: 1px solid red;
}
.medium-articles{
    flex: 2;
    margin-left:2% ;
    margin-right: 2%;
}
.small-articles{
    flex: 3;
}